*{
    margin: 0;
    padding: 0;
}

header{

    width: 100%;
    height: 140px;
    background-image: url("http://2.bp.blogspot.com/-fYx9BrD9_Ys/TpFBUYw8zxI/AAAAAAAABD8/ZnJPSmGfl3w/s400/4.jpg");
    display: block;
    padding-top: 140px;
}

header h1{
    font-size: 100px;
    color: white;
    text-align: center;
}
main h2{
    height: 100px;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 50px;
    padding-top: 50px;
}
main img{
    padding-left: 50px;
    height: 300px;
    width: 92%;
}
main p{
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 40px;
}
main p{
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 10px;
}
footer{
    background-color: #D3D3D3;
    height: 80px;
}
footer h1{
    text-align: center;
    font-size: 50px;
}
